
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
body {

    background-color: #cccccc;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/04/22/15/fitness-1882721_960_720.jpg');
    background-size: cover;
    backface-visibility: hidden;
    color:snow;
}
</style>
<body>


<table align="center">
    <tr><div><h1>OVER AVIABLE GYM ARE:</h1></div></tr>
<tr><td><h2>Fitness Solutions</h2></td><td><h2>Address:</h2> 6, Malviya Rd, Indresh Nagar, Arhat Bazaar, Laxman Chowk, Dehradun, Uttarakhand 248001
</td></tr>
<tr><td><h2>Gold's Gym</h2></td><td><h2>Address:</h2> No.7, CSM Westend, Chakrata Road, Near IMA Blood Bank,, Ballupur, Dehradun, Uttarakhand 248001</td></tr>
<tr><td><h2>Body Temple Gym</h2></td><td><h2>Address:</h2> L-18, Rajpur Rd, Chander Lok Colony, Hathibarkala Salwala, Dehradun, Uttarakhand 248001</td></tr>
<tr><td><h2>Sportsfit BY MS Dhoni Gym <br>& Fitness Studio</h2></td><td><h2>Address:</h2> 65 A, Rajpur Rd, Ravindrapuri, Bhel Chowk, Dehradun, Uttarakhand 248001</td></tr>
</table>
<div><h1>PER MONTH FEES ONLY:1400</h1></div>
    <table>
    </table>
    <div><a href="sign_up.html">cilck_here</a></div>

</body>
</html>